@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Conor Faut<br />
    36 S Congress St<br />
    <abbr title="Phone">P:</abbr>
    847.769.2504
</address>

<address>
    <strong>Email:</strong>   <a href="Cf085115@ohio.edu">Cf085115@ohio.com</a><br />
    
</address>