@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Conor Faut</h1>
    <p class="lead">Hello my name is Conor Faut and I am a Senior MIS and Marketing major who is expected to graduate May 2020. This is my website for MIS 4200, Hope you enjoy!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Phi Kappa Psi</h2>
        <img src="https://images.yswcdn.com/-6339834339558391736-ql-85/320/320/aah/inarush/phi-kappa-psi-circle-crest-decal-8.jpg" alt="Italian Trulli" height="300">
        <p>
            I have been a member of Phi Kappa Psi since fall 2016. I have been involved in the leadership team of the organization by serving on the executive board.
            I served as the messanger which is the job to have messages going around the fraternity and inform members of important events happening.
            I later served as the public relations chairman which I ran all the social media accounts.
        </p>
        <p><a class="btn btn-default" href="https://www.phikappapsi.com/">Phi Kappa Psi &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Schey Sales Centre</h2>
        <img src="https://pbs.twimg.com/profile_images/1050209432976658433/4BDTc09P_400x400.jpg" alt="Italian Trulli" height="300">
        <p>
            I have been a member of the Schey Sales Centre since the spring of my sophomore year. I have a passion for sales and am pursuing a
            career in sales after college. I have been involved in Sales Cats where we participated in sales competition.
        </p>
        <p><a class="btn btn-default" href="https://business.ohio.edu/sales">Schey Sales Centre &raquo;</a></p>

        @Html.ActionLink("Doctor", "Index", "Doctors")<br />
        @Html.ActionLink("Patient", "Index", "Clients")<br />
        @Html.ActionLink("Appointment", "Index", "Appointments")
    </div>
   
    <div class="col-md-4">
        <h2>LinkedIn</h2>
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png" alt="Italian Trulli" height="300">
        <p>Click below to see my LinkedIn Page</p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/conorfaut">LinkedIn &raquo;</a></p>
    </div>
  
</div>